 {% extends  'base.html' %}
 {% load static %}
{% block content %}
   <!-- Service Start -->
        <div class="container-fluid service py-5" style="background-image: url('{% static 'img/ran.jpg' %}'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 900px;">
            <div class="container service-section py-5">

                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Experience</h4>
                    <h1 class="display-5 text-white mb-4">Experience on real world industry and research.</h1>
                    <p class="mb-0 text-white"> These Experience can add up value in my life. These help me learn about the industry, and intrigue me to learn more and more.
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-0 col-md-1 col-lg-2 col-xl-2"></div>
                    <div class="col-md-10 col-lg-8 col-xl-8 wow fadeInUp" data-wow-delay="0.2s">
                    </div>
                    <div class="col-0 col-md-1 col-lg-2 col-xl-2"></div>

                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item p-4">
                            <div class="service-content">
                                <div class="mb-4">
                                    <i class="fas fa-industry fa-4x"></i>
                                </div>
                                <a href="https://www.ucil.org.np/" class="h4 d-inline-block mb-3">Udayapur Cement Industry </a>
                                <p class="mb-0">Work as an intern Student. Completed three months of intern. Learned about how th industry works from mining to the production of cement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item p-4">
                            <div class="service-content">
                                <div class="mb-4">
                                    <i class="fas fa-users fa-4x"></i>
                                </div>
                                <a href="https://nicnepal.org/" class="h4 d-inline-block mb-3">National Innovation Center</a>
                                <p class="mb-0">Designed a solar cage in SolidWoks while working there as instructed by the mechanical head. Works with senior in Electric Vehicle Project.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item p-4">
                            <div class="service-content">
                                <div class="mb-4">
                                    <i class="fas fa-robot fa-4x"></i>
                                </div>
                                <a href="https://www.ran.org.np/" class="h4 d-inline-block mb-3">Robotics Association of Nepal</a>
                                <p class="mb-0">Works in Banana Fiber Project, teach robotics and coding(C-programming and Python) to the students from class 6 to 12 as a part of Ujjwal Education.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="service-item p-4">
                            <div class="service-content">
                                <div class="mb-4">
                                    <i class="fas fa-building fa-4x"></i>
                                </div>
                                <a href="https://tcioe.edu.np/" class="h4 d-inline-block mb-3">Thapathali Engineering Campus</a>
                                <p class="mb-0">While studying at Thapathali campus, I have researched on a thesis 'Hand Driven Plough Tool for Maize Farm'.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
 {% endblock %}
