{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel">
            <div class="header-carousel-item">
                <img src="{% static 'img/try.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="carousel-caption">
                    <div class="container align-items-center py-4">
                        <div class="row g-5 align-items-center">
                            <div class="col-xl-7 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                <div class="text-start">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome Everyone!!</h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">Hello It's me Gaurab Badu.</h1>
                                    <p class="mb-4 fs-5">A passionate mechanical Engineer.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


<!-- Feature Start -->
<div class="text-primary fs-3" style="padding-top: 100px; padding-bottom: 50px; font-weight: bold;">
    <div class="container py-5 text-center">
        <!-- Centered Skills Heading -->
        <h2 class="btn btn-primary rounded-pill py-2 px-4 flex-shrink-0"  style="font-weight: bold;" >Skills</h2> <!-- Bootstrap's red color -->

        <p class="text-danger mb-4">Explore my skills below.</p>

        <div class="row g-4">
            <!-- Core Skills Section -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item bg-dark rounded p-4">
                    <h4 class="text-white mb-3">Core Skills</h4>
                    <div class="d-flex flex-wrap justify-content-center">
                        <!-- Python Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/python-icon.png' %}" alt="python" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Python</p>

                        </div>
                        <!-- SolidWorks Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/solidworks-icon.jpeg' %}" alt="solidworks" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">SolidWorks</p>
                        </div>
                        <!-- Ansys Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/ANSYS_logo.png' %}" alt="ANSYS" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">ANSYS</p>
                        </div>
                        <!-- Matlab Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/MATLAB-icon.jpeg' %}" alt="MATLAB" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">MATLAB</p>
                        </div>
                        <!-- Arduino Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Arduino-icon.jpeg' %}" alt="Arduino" class="img-fluid mb-2" style="width: 50px;height: 50px;">
                            <p class="text-white">Arduino</p>
                        </div>
                        <!-- C Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/C-icon.png' %}" alt="C" class="img-fluid mb-2" style="width: 50px;height: 50px;">
                            <p class="text-white">C programmming</p>
                        </div>
                        <!-- NodeMcu Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/NodeMcu-icon.jpeg' %}" alt="NodeMcu" class="img-fluid mb-2" style="width: 50px;height: 50px;">
                            <p class="text-white">NodeMcu</p>
                        </div>
                         <!-- Mathcad Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Mathcad-icon.png' %}" alt="Mathcad" class="img-fluid mb-2" style="width: 50px;height: 50px;">
                            <p class="text-white">Mathcad</p>
                        </div>
                         <!-- Prusa Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Prusa-icon.jpeg' %}" alt="Prusa" class="img-fluid mb-2" style="width: 50px;height: 50px;">
                            <p class="text-white">Prusa 3D</p>
                        </div>
                        <!-- Add other core skills here -->
                    </div>
                </div>
            </div>

            <!-- Other Skills Section -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item bg-dark rounded p-4">
                    <h4 class="text-white mb-3">Other Skills</h4>
                    <div class="d-flex flex-wrap justify-content-center">

                        <!-- Word -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Word-icon.png' %}" alt="Word" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Word</p>
                        </div>
                        <!-- Powerpoint Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Powerpoint-icon.png' %}" alt="Powerpoint" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Powerpoint</p>
                        </div>
                        <!-- Excel Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Excel-icon.jpeg' %}" alt="Excel" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Excel</p>
                        </div>
                        <!-- Django Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Django-icon.png' %}" alt="Django" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Django</p>
                        </div>
                        <!-- Flutter Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Flutter-icom.png' %}" alt="Flutter" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Flutter</p>
                        </div>
                         <!-- LATEX Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/LATEX-icon.png' %}" alt="LATEX" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">LATEX</p>
                        </div>
                        <!-- Teamwork Icon -->
                        <div class="skill-icon p-3 text-center">
                            <img src="{% static 'icon/Teamwork-icon.jpeg' %}" alt="Teamwork" class="img-fluid mb-2" style="width: 50px; height: 50px;">
                            <p class="text-white">Teamwork</p>
                        </div>
                        <!-- Add other skills here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->



        <!-- Gallery Start -->
        <div class="container-fluid gallery pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Gallery</h4>
                    <h1 class="display-5 mb-4">Captured Moments </h1>
                    <p class="mb-0"> These are the photos from the events I have atended.
                        International AI Conference, National Youth Council
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="gallery-item">
                            <img src="{% static 'img/ran.jpg' %}" class="img-fluid rounded w-100 h-100" alt="ran">
                            <div class="search-icon">
                                <a href="{% static 'img/ran.jpg ' %}" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-1"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="gallery-item">
                            <img src="{% static 'img/IMG_0956.jpg' %}" class="img-fluid rounded w-100 h-100" alt="IMG_0956.jpg">
                            <div class="search-icon">
                                <a href="{% static 'img/IMG_0956.jpg' %}" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-2"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="gallery-item">
                            <img src="{% static 'img/school.jpg' %}" class="img-fluid rounded w-100 h-100" alt="school">
                            <div class="search-icon">
                                <a href="{% static 'img/school.jpg' %}" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-3"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="gallery-item">
                            <img src="{% static 'img/banana.jpg' %}" class="img-fluid rounded w-100 h-100" alt="banana">
                            <div class="search-icon">
                                <a href="{% static 'img/banana.png' %}" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-6"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="gallery-item">
                            <img src="{% static 'img/NYC.png' %}" class="img-fluid rounded w-100 h-100" alt="NYC">
                            <div class="search-icon">
                                <a href="{% static 'img/NYC.png' %}" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-6"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End -->
{% endblock %}